/* Custom Stylesheet */

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.rockablue {
    background-color: #005595;
}

.light-grey {
    background-color: #D6D6CE;
}

.light-grey-text {
    color: #D6D6CE;
}

.grey-text {
    color: #767676;
}

.dark-grey {
    background-color: #767676;
}

.rockablue-text {
    color: #005595;
}

.mug {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    min-height: 400px;
}

.responsive-img {
    border: 3px solid #D6D6CE;
    margin-top: 50px;
    width: 300px;
}

.cover-img {
    background-image: url("https://i.imgur.com/kWrzIcM.jpg");
    background-size: cover;
    overflow: visible;
}

.btn-latge:hover {
    background-color: #005595;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #005595;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
    color: #767676;
}

.contact a {
    color: #D6D6CE;
    transition-duration: 1s;
}

.contact:hover a {
    color: #005595;
}

a {
    color: #D6D6CE;
    transition: .5s;
}

.sanj-link:hover {
    color: #66A5AD;
}

#index-banner {
    padding-top: 0;
}

#name-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#orcid-logo {
    height: 32px;
    padding-left: 8px;
    filter: drop-shadow(2px 3px 1px rgb(5, 5, 5));
}

#job-title {
    padding: 0 32px;
}

#pubs {
    display: flex;
    flex-wrap: wrap;
}

li:nth-child(odd) {
    color: #464646;
}

li:nth-child(even) {
    color: #7F7E7E;
}

.justify {
    text-align: justify;
}

.underline {
    text-decoration: underline;
}

#languages {
    text-align: center;
}

#languages>li {
    display: inline;
    margin: 0 auto;
    padding: 5px;
}

#lab-name {
    font-size: 28px;
}

@media only screen and (max-width: 667px) {
    .cover-img {
        height: 300px;
        background-position: center;
    }
    .mug {
        text-align: center;
    }
    .responsive-img {
        max-height: 200px;
        width: auto;
        margin-left: auto;
    }
}

@media screen and (max-device-width: 450px) {
    h1 {
        font-size: 30px;
        margin: 0;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 20px;
        #job-title.center {
            margin: 0;
        }
    }
    #lab-name {
        font-size: 16px;
    }
    h5 {
        font-size: 16px;
        margin: 0 8px;
    }
    #education {
        #job-title {
            margin: 8px 0 0 0;
        }
        #current-school {
            margin: 0
        }
        #phd-school {
            margin: 8px 0 0 0;
        }
    }
}