/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.maroon {
  background-color: #800000;
}
.light-grey{
  background-color: #D6D6CE;
}
.grey-text{
  color: #767676;
}
.maroon-text {
  color: #800000;
}
.mug {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  min-height: 400px;
}
.responsive-img {
  border: 3px solid #D6D6CE;
  margin-top: 50px;
  width: 300px;
}
.cover-img {
  background-image: url("http://i.imgur.com/EmRKjFo.jpg");
  background-size: cover;
  overflow: visible;
}
#index-banner{
  padding-top: 0;
}
@media only screen
  and (max-width: 667px) {
  .cover-img{
    height: 300px;
    background-position: center;
  }
  .mug{
      text-align: center;
    }
  .responsive-img {
    max-height: 200px;
    width: auto;
    margin-left: auto;
  }
}
